<div class="container">

  <div class="item-card-extended">
    <div class="item-card-extended__header">
      Item card
    </div>
    <div class="item-card-extended__body">
      <div class="item-card-extended__row">
        <div class="item-card-extended__name-label">Name:</div>
        <div class="item-card-extended__name-data">{{item.name}}</div>
      </div>
      <div class="item-card-extended__row">
        <div class="item-card-extended__description-label">Description:</div>
        <div class="item-card-extended__description-data">{{item.description}}</div>
      </div>
    </div>
  </div>
</div>
